<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Workout Exercises</title>
    <meta charset="UTF-8">
    <style>
        .exercise-table, .set-table {
            width: 100%;
            border-collapse: collapse;
        }

        .exercise-table th, .exercise-table td, .set-table th, .set-table td {
            border: 1px solid black;
            padding: 8px;
        }

        .set-table {
            margin-top: 10px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
<h1 th:text="'Exercises for Workout: ' + ${workout.name}"></h1>

<form th:action="@{/workouts/{id}/exercises/add(id=${workout.id})}" th:object="${workoutExercise}" method="post">
    <div>
        <label for="exerciseSelect">Select Exercise:</label>
        <select id="exerciseSelect" th:field="*{exercise.id}" required>
            <option value="">-- Select Exercise --</option>
            <optgroup label="Shared Exercises">
                <option th:each="exercise : ${sharedExercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
            </optgroup>
            <optgroup label="My Exercises">
                <option th:each="exercise : ${memberExercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
            </optgroup>
        </select>
    </div>
    <div>
        <button type="submit">Add Exercise</button>
    </div>
</form>

<h2>Exercises:</h2>
    <ol>
        <li th:each="workoutExercise : ${workoutExercises}" class="exercise-item">
            <span th:text=" ${workoutExercise.exercise.name}"> Exercise Name</span>
            <a th:href="@{|/workouts/exercises/edit/${workoutExercise.id}|}">Edit</a>
            <a th:href="@{|/workouts/exercises/delete/${workoutExercise.id}|}">Delete</a>
        </li>
    </ol>
<!--<table class="exercise-table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Exercise Number</th>-->
<!--        <th>Exercise Name</th>-->
<!--        <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="exerciseGroup : ${exerciseGroups}">-->
<!--        <td th:text="${exerciseGroup.exerciseNumber}">1</td>-->
<!--        <td th:text="${exerciseGroup.exercise.name}">Exercise Name</td>-->
<!--        <td>-->
<!--            <a th:href="@{|/workouts/exercises/edit/${exerciseGroup.exercise.id}|}">Edit</a>-->
<!--            <a th:href="@{|/workouts/exercises/delete/${exerciseGroup.exercise.id}|}">Delete</a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>
